<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Onboarding Template</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #f7f7f7;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        }
        .header {
            text-align: center;
            margin-bottom: 20px;
        }
        .header img {
            max-width: 100px;
            height: auto;
        }
        .section {
            margin-bottom: 30px;
        }
        .section h2 {
            font-size: 24px;
            color: #333;
            margin-bottom: 10px;
        }
        .section p {
            color: #555;
            font-size: 16px;
            line-height: 1.5;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
          <!-- <img src="https://www.codester.com/static/uploads/items/000/013/13521/preview.jpg" alt="Company Logo"> -->
          <h1>Welcome to TechSyncLabs</h1>
        </div>
        <div class="section">
          <h2>Thank You for Contacting Us!</h2>
          <p>Dear Candidate,</p>
          <p>Thank you for expressing interest in joining TechSyncLabs. We value your application and will carefully review your qualifications.</p>
          <p>If your skills and experience align with our requirements, we will be in touch with you for further discussions.</p>
          <p>Thank you for considering TechSyncLabs as your potential employer.</p>
        </div>
        <div class="section">
          <h2>Best Regards</h2>
          <p>The TechSyncLabs Team</p>
        </div>
    </div>
</body>
</html>
